.header-mob{
  height: 70px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;

  &-logo{
    fill: #f37421;
  }
}
.header-wrapper{
  display: flex;
  @media screen and (max-width: 767px){
    top: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
    z-index: 99;
    animation: ITE .35s both;
  }
}
.exit-mob-extended{
  @media screen and (max-width: 767px){
    width: 100%;
    background-color: rgba(0,0,0,.5);
    z-index: 98;
  }
}
.header{
  width: 143px;
  padding-top: 60px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all .35s ease;

  @media screen and (max-width: 767px){
    z-index: 99;
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .logoI{
    animation: ITE2 .15s ease .1s forwards;
  }
  .logoT{
    animation: ITE2 .15s ease .075s forwards;
  }
  .logoE{
    animation: ITE2 .15s ease .05s forwards;
  }

  &__top-part{
    & > ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
      padding-left: 40px;
      padding-right: 40px;
      margin-top: 60px;

      & > a{
        text-decoration: none !important;
      }

      & li{
        list-style-type: none;
        padding: 10px 10px;//10px 20px;
        border-radius: 22px;
        margin-bottom: 35px;
        cursor: pointer;
        color: #8b959e;
        //font-family: "Avenir Medium";
        font-size: 20px;
        font-weight: 600;
        display: grid;
        align-items: center;
        width: 24px;
        margin-left: 10px;
        transition: all .35s ease;

        & > .li-icons{
          margin-right: 0px;
          fill: #8b959e;
          transition: fill .35s ease;
        }
        & > .profile-picture{
          margin-right: 20px;
          width: 28px;
          height: 28px;
          border-radius: 20px;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }
        & > label{
          animation: seconds .01s forwards;
          cursor: pointer;
          position: relative;
          line-height: 1;
        }
      }

      & li:hover, & li > label:hover{
        color: #8b959e8d;

        & > .li-icons{
          fill: #8b959e8d;
        }
      }

      & > a.active > li{
        background-color: #ffefe4;
        color: #f37421;

        & > .li-icons{
          fill: #f37421;
        }
      }
      & > a.active > li > label:hover{
        color: #f37421;
      }
    }
  }
  &__bottom-part{
    padding-left: 40px;
    padding-right: 40px;

    & > div{
      color: #8b959e;
      font-size: 20px;
      font-weight: 600;
      padding: 10px 25px;
      display: inline-flex;
      cursor: pointer;
      
      & > label{
        animation: seconds .01s ease-in both;
        cursor: pointer;
        position: relative;
        line-height: 1;
      }

      & > .li-icons{
        margin-right: 20px;
        fill: #8b959e;
      }
    }
  }
}

.header:hover{
  width: 255px;

  .logoI{
    animation: ITE .35s ease .05s both;
  }
  .logoT{
    animation: ITE .35s ease .075s both;
  }
  .logoE{
    animation: ITE .35s ease .1s both;
  }

  .header__top-part{
    & > ul{
      & li{
        padding: 10px 20px;
        display: inline-flex;
        width: auto;
        margin-left: 0px;
        & > label{
          animation: seconds2 .35s ease-in forwards;
        }
        & > .li-icons{
          margin-right: 20px;
        }
      }
    }
  }
  .header__bottom-part{
    & > div{
      & > label{
        animation: seconds2 .35s ease-in forwards;
      }
    }
    & > div:hover{
      color: #8b959e8d;
      & > .li-icons{
        fill: #8b959e8d;
      }
    }
  }
}

@media screen and (max-width: 767px){
  .header{
    animation: openMenu .35s ease both;
    width: 255px;
  
    .logoI{
      animation: ITE 0s ease .05s both;
    }
    .logoT{
      animation: ITE 0s ease .075s both;
    }
    .logoE{
      animation: ITE 0s ease .1s both;
    }
  
    .header__top-part{
      & > ul{
        margin-top: 30px;
        & li{
          padding: 10px 20px;
          display: inline-flex;
          width: auto;
          margin-left: 0px;
          font-weight: 400;
          & > label{
            animation: seconds2 0s ease-in forwards;
          }
          & > .li-icons{
            margin-right: 20px;
          }
        }
      }
    }
    .header__bottom-part{
      & > div{
        & > label{
          animation: seconds2 0s ease-in forwards;
          font-weight: 400;
        }
      }
      & > div:hover{
        color: #8b959e8d;
        & > .li-icons{
          fill: #8b959e8d;
        }
      }
    }
  }
}

.header-logo{
  fill: #f37421;
  width: 80px;
  height: auto;
  margin-left: 60px;
}

.op1{
  fill: #fff;
}

@keyframes seconds {
  0%{
    opacity: 0;
    position: absolute;
  }
  100% {
    opacity: 0;
    left: -9999px; 
    position: absolute;
  }
}

@keyframes seconds2 {
  0% {
    opacity: 0;
    position: relative;
  }
  100%{
    opacity: 1;
    position: relative;
  }
}

@keyframes ITE {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes ITE2 {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
@keyframes openMenu{
  0%{opacity: 0;}
  100%{ opacity: 1;}
}